<!doctype html>
<html lang="en">
	<head>
		<title>Accessibility - PRE~ALPHA</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- Include OpenLayers library and styling, bootstrap and jquery -->
		<script type="text/javascript" src="https://openlayers.org/en/v4.2.0/build/ol.js"></script>
		<link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
		<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Built-in scripts and styling -->
		<script src="{{url_for('static', filename='mapScript.js')}}"></script>
		<!-- <script type="text/javascript" src="js/africa_L0.geojson"></script>
		<script type="text/javascript" src="js/NGR_L1.geojson"></script> -->
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
		<!-- OLD IE Browsers -->
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
	</head>
	<body onload="initialiseMap()">
		<div id="map" class="map" onload="initialiseMap()">
			<div class="loading-overlay">
			    <div class="spin-loader"></div>
			 </div>
			<div id="legend">
				<h5>Choose top layer</h5>			
			  <form>
			    <div class="radio">
			      <label><input type="radio" name="optradio"  id="population_raster" disabled>Population</label>
			    </div>
			    <div class="radio">
			      <label><input type="radio" name="optradio" id="travel_time_raster" disabled>Travel speed</label>
			    </div>
			    <div class="radio disabled">
			      <label><input type="radio" name="optradio" id="time_cost_raster" disabled>Travel time</label>
			    </div>
			    <div class="radio disabled">
			      <label><input type="radio" name="optradio" id="remove_rasters">Remove all layers</label>
			    </div>
			  </form>
			  <div id='legend_bins'></div>
			</div>
			<div id="interface">
				<button id="showInstructions" class="btn btn-default" style="display: block; margin: auto; margin-bottom: 10px;">Instructions</button>
				<div id="instructionsModal" class="modal">
				  <!-- Modal content -->
				  <div class="modal-content">
				    <span class="close">&times;</span>
				    <h3>Instructions</h3>
				    <p>The aim of this application is to measure accessibility to health facilities based on a user-defined travel-time threshold. The target users are healthcare workers, or resource allocation decision-makers, with limited GIS knowledge. All analysis is carried out on the server. The main requirements to perform this analysis is a computer with internet access, and knowledge of the locations of health facilities. The length of processing time may vary depending on the number of facilities analysed.<br>To assist in finding locations on the map, it may be useful to use the slider at the top of the righthand panel to change the transparency of the satellite image/map used as a background image.<br>Please see the information below for instructions.</p> 
				    <ol>
				    	<li>
				    		<h5>Choose a country</h5>
				    		<p>Note: This application is currently in its Alpha stage, and covers only 7 countries in Africa</p>
				    	</li>
				    	<li>
				    		<h5>Choose a population group</h5>
				    		<p>This application is currently focused on access to EmONC facilities. Target populations used in the application are number of:</p> <ul><li>Pregnant women</li><li>Number of births</li><li>Number of women of childbearing age (15-49)</li></ul>
				    	</li>
					<li>
						<h5>Choose a mode of transport</h5>
					</li>
				    	<li>
				    		<h5>Upload health facilities</h5>
				    		<p>Health facilities can be uploaded using a .csv file of coordinates or by double-clicking their positions on the map. Both methods can be used together</p>
				    		<p><b>Upload csv file</b></p>
				    		<ul>
				    			<li>Create and save csv file with WG84 coordinates. Longitude values in the first column, latitude values in the second column</li>
				    			<li>Click the 'Browse' button to choose the csv file</li>
				    			<li>Click the 'Read file' button and the 'Add uploaded points' to add the points to the map</li>
				    		</ul>
				    		<p><b>Manually add points</b></p>
				    		<ul>
				    			<li>Click the 'Manually add points' button</li>
				    			<li>Point to the location of health facilities on the map and double-click to add the point</li>
				    		</ul>
				    		<p><b>To remove points, single-click on the point to remove and click the 'Remove' button that appears next to the clicked point.</b>
				    	</li>
				    	<li>
				    		<h5>Input travel-time threshold in hours</h5>
				    	</li>
				    	<li>
				    		<h5>Submit data for processing</h5>
				    		<p>Once all of the health facility points have been added, click the 'Submit' button to send the data to be processed. The data should be processed at approximately 1 second per health facility. A raster will be returned colour-coded according to the time predicted to travel from the respective pixels to the closest (shortest travel time) health facility. Further analyses can be carried out be clicking the 'Restart' button. Should be page not fully refresh, try to reload the page by pressing the 'Ctrl + F5' buttons on your keyboard.</p>
				    	</li>
				    </ol>
				    <p><b>Note: </b>A panel will appear on the top left of the screen as layers are added to the map. The panel will allow the user to choose the layer to be shown on the top of the stack. The top layer's legend will be displayed in the bottom of the legend. A layer cannot be selected in this panel until it has been added to the map. The final output layer will not be selectable until the layer has been fully processed and returned from the server.<br>To view the map in fullscreen mode, click the icon in the top-right corner of the screen.<br>Once the output has been returned to the website, a clickable element will appear to the left of the main interface panel. Click this to toggle the population tables.</p>
				<button id="closeInstructions" class="btn btn-success" type="button">Close</button>  
				</div>
				</div>
				<p><b>Slide to change map opacity</b></p>				
				<p id="js-opacity">100%</p>
				<div id="js-slider"></div>
				<br><br>
				<select id="country_select">
			    	<option id="none_chosen">Choose a country</option>
			    	<option id="ben_adm1">Benin</option>
			    	<option id="cmr_adm1">Cameroon</option>
			    	<option id="ner_adm1">Niger</option>
			    	<option id="nga_adm1">Nigeria</option>
			    	<option id="tcd_adm1">Chad</option>
			    	<option id="zaf_adm1">South Africa</option>
			    	<option id="zmb_adm1">Zambia</option>
			    </select>
			    <br>
			    <br>
			    <select id="raster_select">
			    	<option id="no_pop_chosen">Choose a population group</option>
			    	<option id="_pregs_pp_v2_2015">Pregnancies</option>
			    	<option id="_births_pp_v2_2015">Births</option>
			    	<option id="_wocba">Women of child-bearing age</option>
			    </select>
			    <br><br>
			    <select id="impedance_select">
			    	<option id="no_trans_chosen">Choose a mode of transport</option>
			    	<option id="walking">Walking (5km/h)</option>
			    	<option id="cycling">Cycling (15km/h)</option>
			    	<option id="motorised">Motorised (60km/h)</option>
			    </select>
		    <br><br>
		    <label class="btn btn-default btn-file">
				Browse<input type="file" id="files" name="files[]" style="display: none;" multiple />
			</label>
			<span class="readBytesButtons">
			  <button class="btn btn-warning">Read file</button>
			</span>
			<br><br>
			<button class="btn btn-primary" id="add-file-points">Add uploaded points</button>
			<br><br>
			<textarea id="byte_content" class="form-control"></textarea>
			<button class="btn btn-success" id="add-points" type="button">Manually add points</button>
			<br><br>
			<p><b>Maximum travel-time to facility</b></p><input id="time_travel" placeholder="Hours (e.g. 1.5)">	
			<br><br>	
		    <button class="btn btn-success" id="postPoints">Submit</button>
		    <button class="btn btn-danger" value="Restart" onClick="window.location.reload()">Restart</button>
			</div>
			<!-- <div id="resultsTable">
				<div>
					<h4 style="text-align: center;"><b>Results</b></h4>
					<p style='font-size: 0.8em;'>*Note - Missing states denote 100% inaccessibility</p>
				</div>
			</div> -->
			<div class="panel-group" id="resultsTable" id="accordion">
			  <div class="panel panel-default">
			    <div class="panel-heading">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Click to toggle table</a>
			      </h4>
			    </div>
			    <div id="collapse1" class="panel-collapse collapse">
			        <div class="list-group-item" class="panel-body" id="resultsPanel"></div>
			    </div>
			  </div>
			</div>

		</div>
		<div id="js-overlay" class="overlay">
	        <button type="button" id="js-remove" class="btn btn-danger">Remove</button>
	    </div>
		<!-- <div class="pane">
			<p id="js-opacity">100%</p>
			<div id="js-slider"></div>
			<br><br>
			<select id="country_select">
		    	<option id="none_chosen">Choose a country</option>
		    	<option id="ben_adm1">Benin</option>
		    	<option id="cmr_adm1">Cameroon</option>
		    	<option id="ner_adm1">Niger</option>
		    	<option id="nga_adm1">Nigeria</option>
		    	<option id="tcd_adm1">Chad</option>
		    	<option id="zaf_adm1">South Africa</option>
		    	<option id="zmb_adm1">Zambia</option>
		    </select>
		    <br>
		    <br>
		    <select id="raster_select">
		    	<option id="no_pop_chosen">Choose a population group</option>
		    	<option id="_pregs_pp_v2_2015">Pregnancies</option>
		    	<option id="_births_pp_v2_2015">Births</option>
		    	<option id="_wocba">Women of child-bearing age</option>
		    </select>
		    <br><br>
		    <select id="impedance_select">
		    	<option id="no_trans_chosen">Choose a mode of transport</option>
		    	<option id="walking">Walking (5km/h)</option>
		    	<option id="cycling">Cycling (15km/h)</option>
		    	<option id="motorised">Motorised (60km/h)</option>
		    </select>
		    <br><br>
			<label class="btn btn-default btn-file">
				Browse<input type="file" id="files" name="files[]" style="display: none;" multiple />
			</label>
			<span class="readBytesButtons">
			  <button class="btn btn-warning">Read file</button>
			</span>
			<br><br>
			<button class="btn btn-primary" id="add-file-points">Add uploaded points</button>
			<br>
			<br><br>
			<textarea id="byte_content" class="form-control" rows="3" cols="3"></textarea>
			<br>
			<button class="btn btn-success" id="add-points" type="button">Manually add points</button>
			<br><br>
	Maximum time to travel from facility<input id="time_travel" placeholder="Hours (e.g. 1.5)">	
	<br><br>	
    <button id="postPoints">Submit</button>
    <br><br>
    <input type="button" value="Restart" onClick="window.location.reload()">
    <div id="resultsTable"></div>
    
		
		</div> -->
		
	</body>
</html>
